# ==============================
# Virtual Environments
# ==============================
venv/
env/
.venv/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Python cache
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Flask
# ==============================
instance/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Machine Learning Artifacts
# ==============================
# *.joblib
# *.pkl
# *.cbm        # CatBoost models

# ==============================
# Data (large / raw datasets)
# ==============================
data/
datasets/
*.csv
*.parquet

# ==============================
# Model output directory
# ==============================
model/
models/
