/* -------------------------------
   FORMS
--------------------------------*/
form {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 20px;
}

form p {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

form p label { width: 7rem; }

label { margin: 6px 0 3px; }

input, textarea, select {
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 0.25rem;
  background: rgba(2, 6, 23, 0.9);
  color: #e5e7eb;
  border: none;
  box-sizing: border-box;
}

/* number autofill visibility */
input[type="number"]:-webkit-autofill,
input[type="number"] {
  color: #e5e7eb !important;
}

input[type="file"], select {
  background-color: #1e293b;
  color: #ffc;
  border: 2px dashed #3b82f6;
  padding: 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
input[type="file"]:hover {
  border-color: #06b6d4;
  background-color: #334155;
}

label[for="id_remember"] { width: auto; margin-right: 0.5rem; }
input[name="remember"]  { width: auto; }

.full-width {
  grid-column: 1 / -1;
  text-align: center;
}

.errorlist li {
  color: rgb(253, 88, 49);
  padding: 0.5rem 1rem;
  border-left: 5px solid rgb(253, 88, 49);
  margin-bottom: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  form { grid-template-columns: 1fr; }
  input[type="file"] { width: 90%; }
  .button { width: 90%; }
}
